# GITHUB
GITHUB_CI_CONFIG='{
  "server_url": "https://github.com",
  "repository": "lifaon74/fabrique",
  "run_id": "1234",
  "event_name": "pull_request",
  "base_ref": "main",
  "event": {
    "pull_request": {
      "base": {
        "sha": "dad6fc5e22840ad08209ce653d61798b7ac413b7"
      },
      "head": {
        "sha": "f551db1be7a0d841f297a9378bc8bd646615ebd0"
      },
      "labels": [
        {
          "name": "dev"
        }
      ]
    }
  }
}'

#CI
# uncomment to run in "dry" mode
#CI_RELEASE_DRY_RUN="true"
